html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    margin: 0;
}
.header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(37, 34, 34);
}
.block__container{ width: 1000px;
    margin: auto;}
.header__content{
    display: flex;
    justify-content: space-between;
}
.header__img{
    margin-left: 59px;
} 

.header__text p{
    color: rgb(168, 161, 161);
    position:absolute;
    top: 42px;
    left:561px;
    letter-spacing: 2px;
 
}   
.header__rss{
    position:absolute;
    left:1160px;
    right:100px;
    top: 30px;
}

.menu__but{

    display: flex;
    justify-content: center;

}
.picture img{
    width: 100%;
}
.banner{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.banner-main{
    height: 200px;
    width: 100%;
    padding-top: 1px;
}
.banner_1_block{
    display: flex;
    position: relative;
    
    
}
.banner_1_content{
    width: 150px;
    position: absolute;
    margin-left :121px;
    margin-top :-140px;
}
.banner_1 h4{
    font-size: 15px;

}
.banner_1 p{
    color: green;
}
.banner_1 button{
    font-size: 10px;
    color: red;
}
.content{
    display: flex;
   justify-content: space-between;
   margin-bottom: 46px;
}
.content .banner_btn{
    font-size: 10px;
    color: red;
    margin-left: 320px;
}
.content__1{
    margin-left: 70px;
    margin-top: 50px;
}
.content__1 h3{
    font-size: 17px;
    margin-left: 30px;
    margin-top: -20px;
}
.content__1 h4{
    font-size: 15px;
    color: green;
}
.content__1 .pic{
    width: 100%;
}
.content__1 p{
    font-size: 15px;

}
.content__ngay{
   
    font-size: 15px;
    padding-top: 15px;
  
}

.content__2{
    margin-right: 70px;
    margin-left:50px;
    margin-top:70px;
    
}
.content__2 h3{
    font-size: 17px;
    margin-left: 30px;
    margin-top: -20px;
}
.content__ngay1{
    color: orange;
}
.content__ngay2{
    position: relative;
    top: -35px;
    margin-left: 80px;
    margin-right: 340px;
   
}
.content__ngay3{
    margin-left: 90px;
    margin-top: -72px 
}
.footer {
    padding: 3%;
   
}
.footer p{
    text-align: right;
}
